<div class="contact-from-info">
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "Info",
  "blocks": [{ "type": "_cf-heading" }, { "type": "_cf-content" }, { "type": "_cf-features-items" }],
  "settings": [],
  "presets": [
    {
      "name": "Info"
    }
  ]
}
{% endschema %}
