<shopable-item
  class="pointer block focus-inset-inside border-on-hover"
  tabindex="0"
  data-product="Product-video_kPq44j"
  data-position="3"
>
  <div class="video_inner relative zoom-in">
    <video-local-shopable
      class="video-item--ratio rounded block"
      style="--aspect-ratio: 1.028205128205128;"
      data-autoplay="true"
    >
      <img
        loading="lazy"
        sizes="(min-width: 1200px) calc((1392px -  24px * 3) * 0.25), (min-width: 768px) calc( (100vw - 30px - 24px * 2 ) * 0.33), calc( (100vw - 30px - 15px * 0 ) * 1)"
        src="//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=10"
        alt="Image"
        class="lazy-loaded"
        width="700"
        height="700"
        is="lazy-loading-img"
        style="--point:50.0% 50.0%"
        srcset="//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=3840 3840w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=3000 3000w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=2400 2400w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=1920 1920w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=1500 1500w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=1370 1370w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=1100 1100w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=720 720w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=660 660w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=550 550w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=480 480w,//meats-halal.myshopify.com/cdn/shop/files/product-07_3fdb819a-8eab-46f0-9a32-91b987bee519.jpg?v=1704632721&amp;width=360 360w,"
      >
    </video-local-shopable>
  </div>
  <div
    class="shopable-video__product border rounded p-sp-3 mt-sp-3 mt-1025-sp-4"
    style="--product-name-lh: normal;--width: 6rem;"
  >
    <div class="product-item product__item-js" data-product-id="8212739883260">
      <div class="product-item__inner relative flex gap-sp-3 align-center show_quick_add-mb">
        <div class="product__inner hover-effect relative block ">
          <a
            class="product-image focus-inset block rounded overflow-hidden  flex-auto w-custom h-custom rounded-50 rounded-10"
            draggable="false"
            href="/products/white-bed-clothe"
            aria-label="BBQ Box"
          >
            <div
              class="image__media product__media animation-swatches rounded-50"
              style="--aspect-ratio: 1/1;"
            >
              <img
                loading="lazy"
                sizes="(min-width: 1200px) calc((100vw -  0px * 0) * 1), (min-width: 768px) calc( (100vw - 0px * -1 ) * 1), calc( (100vw - 0px * 0 ) * 1)"
                src="//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=10"
                alt="BBQ Box"
                class="center_swiper-arrow product__img featured-image lazy-loaded"
                width="700"
                height="700"
                is="lazy-loading-img"
                style="--point:50.0% 50.0%"
                srcset="//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=720 720w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=660 660w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=550 550w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=480 480w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=330 330w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=240 240w,//meats-halal.myshopify.com/cdn/shop/files/product-11_5eabe84c-afae-40bd-8b6a-f07aac3669c7.jpg?v=1704631987&amp;width=185 185w,"
              >
            </div>
          </a>
        </div>
        <div class="product__information mt-sp-3 mt-1025-sp-4 flex-1 mt-0 mt-1025-0 col-remaining lh-normal">
          <a
            class="product__name heading-style outlined-border  "
            aria-label="BBQ Box"
            href="/products/white-bed-clothe"
          >
            BBQ Box</a
          >
          <div class="product__price heading-color mt-sp-1">
            <div
              class="card-product-price relative flex align-center wrap gap row-gap-0 align-center "
              style="--gap: 2px;--gap-desktop: 4px;"
            >
              <div class="heading-color price-regular inline-block">
                <span class="visually-hidden visually-hidden--inline">Sale price</span>
                <span class="price special-price heading-color sale-color"> Tk 25.00 </span>
              </div>
              <div class="price-regular grey-color inline-block">
                <span class="visually-hidden visually-hidden--inline">Regular price</span>
                <s class="price-item compare-price body_weight">Tk 35.00 </s>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</shopable-item>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "product",
      "id": "jubilee_product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "jubilee_poster_image",
      "label": "Poster image"
    },
    {
      "type": "video",
      "id": "jubilee_local_video",
      "label": "Local video"
    },
    {
      "type": "text",
      "id": "jubilee_video_alt_text",
      "label": "Video alt text",
      "info": "Describe the video for customers using screen readers.",
      "default": "Video alt text"
    }
  ],
  "presets": [{ "name": "Video" }]
}
{% endschema %}
