<div class="text-area">
  <h2>Text</h2>
</div>
{% schema %}
{
  "name": "Text",
  "blocks": [{ "type": "_jubilee-heading" }],
  "settings": [
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Shopable image",
      "blocks": [
        {
          "type": "_jubilee-heading"
        },
        {
          "type": "_jubilee-heading"
        },
        {
          "type": "_jubilee-heading"
        }
      ]
    }
  ]
}
{% endschema %}
