<div class="text-area">
  <h2>Text</h2>
</div>
{% schema %}
{
  "name": "Text",
  "blocks": [{ "type": "_jubilee-heading" }],
  "settings": [],
  "presets": [
    {
      "name": "Shopable image",
      "blocks": [
        {
          "type": "_jubilee-heading"
        },
        {
          "type": "_jubilee-heading"
        },
        {
          "type": "_jubilee-heading"
        }
      ]
    }
  ]
}
{% endschema %}
