<div class="lookbook">
  <h2>lookbook</h2>
</div>
{% schema %}
{
  "name": "Lookbook",
  "blocks": [{ "type": "_jubilee-lookbook-item" }],
  "settings": [],
  "presets": [
    {
      "name": "Lookbook",
      "blocks": [
        {
          "type": "_jubilee-lookbook-item"
        },
        {
          "type": "_jubilee-lookbook-item"
        },
        {
          "type": "_jubilee-lookbook-item"
        }
      ]
    }
  ]
}
{% endschema %}
