<div
  class="announcement-bar kit-scrolling-item"
  role="region"
  aria-label="{{ 'sections.header.announcement' | t }}"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.link != blank -%}
    <a
      href="{{ block.settings.link }}"
      class="announcement-bar__link link link--text focus-inset animate-arrow"
    ></a>
  {%- endif -%}
  {%- if block.settings.text != blank -%}
    <p class="announcement-bar__message ">
      {{ block.settings.text }}
    </p>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Scrolling text marquee",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
    }
  ],
  "presets": [{ "name": "Text" }]
}
{% endschema %}
