<div
  class="overflow-hidden section color-default gradient overflow-hidden border-top"
  style="--section-pt: 100; --section-pb: 90;--width: 5rem;--item-desktop: 4;--item-tablet: 3;--item-mb: 1.2;--gap-desktop: 24px;--gap: 12px;"
>
  <div class="container">
    <div class="section-header text-center">
      <div class="section-subheading subheading_weight mb-10 fs-big-2">As Seen In</div>

      <motion-effect data-animate="highlighted-text" data-animate-delay="75" class="block">
        <h2 class="section-heading ">
          <p>Community Stories</p>
        </h2>
      </motion-effect>
    </div>

    <div class="free-scroll">
      <shopable-video
        id="swiper-template--20073604972796__shopable_video_X6Vwtr"
        class="hover-action swiper swiper-shopable-video overflow-visible-mb swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        data-section-id="template--20073604972796__shopable_video_X6Vwtr"
        data-autoplay="false"
        data-auto-play-speed="10000"
        data-effect="slide"
        data-loop="false"
        data-speed="300"
        data-spacing="24"
        data-mobile="1.2"
        data-desktop="4"
        data-tablet="3"
        data-autoplay-video="true"
        data-section-shopable="true"
      >
        <div class="swiper-actions " style="--shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);--transition: 0.4s ease-in-out">
          <div
            class="swiper-arrow swiper-button-prev overflow-hidden invisible show-on-hover transition absolute rounded-50 inline-flex content-center shadow bg-white btn-hover swiper-button-disabled swiper-button-lock"
            tabindex="-1"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-1fa369a3749710492"
            aria-disabled="true"
          >
            <svg width="6" height="11" fill="none">
              <use href="#icon-back"></use>
            </svg>
          </div>

          <div
            class="swiper-arrow swiper-button-next overflow-hidden invisible show-on-hover transition absolute rounded-50 inline-flex content-center shadow bg-white btn-hover swiper-button-disabled swiper-button-lock"
            tabindex="-1"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-1fa369a3749710492"
            aria-disabled="true"
          >
            <svg width="6" height="11" fill="none">
              <use href="#icon-next"></use>
            </svg>
          </div>
        </div>

        <div class="swiper-wrapper" id="swiper-wrapper-1fa369a3749710492" aria-live="polite">
          <div
            class="swiper-slide swiper-slide-visible swiper-slide-fully-visible"
            role="group"
            aria-label="4 / 4"
            style="width: 330px; margin-right: 24px;"
          >
            {% content_for 'blocks' %}
          </div>
        </div>
        <div class="swiper-pagination hidden swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock">
          <span
            class="swiper-pagination-bullet swiper-pagination-bullet-active"
            tabindex="0"
            role="button"
            aria-label="Go to slide 1"
            aria-current="true"
          ></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </shopable-video>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Shopable video",
  "blocks": [{ "type": "@app" }, { "type": "_jubilee-video-item" }],
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "select",
      "id": "sections_animations",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "have",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation",
      "info": "Animation: Activates on load and scroll to animate."
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "Shopable video",
      "blocks": [
        {
          "type": "_jubilee-video-item"
        },
        {
          "type": "_jubilee-video-item"
        },
        {
          "type": "_jubilee-video-item"
        }
      ]
    }
  ]
}
{% endschema %}
