<div
  class="overflow-hidden section color-default gradient overflow-hidden border-top"
  style="--section-pt: 100; --section-pb: 90;--width: 5rem;--item-desktop: 4;--item-tablet: 3;--item-mb: 1.2;--gap-desktop: 24px;--gap: 12px;"
>
  <div class="container">
    <div class="section-header text-center">
      <div class="section-subheading subheading_weight mb-10 fs-big-2">As Seen In</div>

      <motion-effect data-animate="highlighted-text" data-animate-delay="75" class="block">
        <h2 class="section-heading ">
          <p>Community Stories</p>
        </h2>
      </motion-effect>
    </div>

    <div class="free-scroll">
      <shopable-video
        id="swiper-template--20073604972796__shopable_video_X6Vwtr"
        class="hover-action swiper swiper-shopable-video overflow-visible-mb swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        data-section-id="template--20073604972796__shopable_video_X6Vwtr"
        data-autoplay="false"
        data-auto-play-speed="10000"
        data-effect="slide"
        data-loop="false"
        data-speed="300"
        data-spacing="24"
        data-mobile="1.2"
        data-desktop="4"
        data-tablet="3"
        data-autoplay-video="true"
        data-section-shopable="true"
      >
        <div class="swiper-actions " style="--shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);--transition: 0.4s ease-in-out">
          <div
            class="swiper-arrow swiper-button-prev overflow-hidden invisible show-on-hover transition absolute rounded-50 inline-flex content-center shadow bg-white btn-hover swiper-button-disabled swiper-button-lock"
            tabindex="-1"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-1fa369a3749710492"
            aria-disabled="true"
          >
            <svg width="6" height="11" fill="none">
              <use href="#icon-back"></use>
            </svg>
          </div>

          <div
            class="swiper-arrow swiper-button-next overflow-hidden invisible show-on-hover transition absolute rounded-50 inline-flex content-center shadow bg-white btn-hover swiper-button-disabled swiper-button-lock"
            tabindex="-1"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-1fa369a3749710492"
            aria-disabled="true"
          >
            <svg width="6" height="11" fill="none">
              <use href="#icon-next"></use>
            </svg>
          </div>
        </div>

        <div class="swiper-wrapper" id="swiper-wrapper-1fa369a3749710492" aria-live="polite">
          <div
            class="swiper-slide swiper-slide-visible swiper-slide-fully-visible"
            role="group"
            aria-label="4 / 4"
            style="width: 330px; margin-right: 24px;"
          >
            {% content_for 'blocks' %}
          </div>
        </div>
        <div class="swiper-pagination hidden swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock">
          <span
            class="swiper-pagination-bullet swiper-pagination-bullet-active"
            tabindex="0"
            role="button"
            aria-label="Go to slide 1"
            aria-current="true"
          ></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </shopable-video>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Shopable video",
  "blocks": [{ "type": "@app" }, { "type": "_jubilee-video-item" }],
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "jubilee__subheading",
      "label": "Subheading",
      "default": "As Seen In"
    },
    {
      "type": "richtext",
      "id": "jubilee_heading",
      "label": "Heading",
      "default": "<p>Community Stories</p>"
    },
    {
      "type": "checkbox",
      "id": "jubilee_enable_heading_animation",
      "label": "Enable heading underline animation",
      "default": false,
      "info": "Add an underline by wrapping text in italics. Use the Italic (I) button in the editor to apply it."
    },
    {
      "type": "select",
      "id": "jubilee_underline_style",
      "label": "Underline style",
      "default": "squiggle",
      "options": [
        { "value": "solid", "label": "Solid underline" },
        { "value": "dotted", "label": "Dotted underline" },
        { "value": "dashed", "label": "Dashed underline" },
        { "value": "squiggle", "label": "Squiggle underline" }
      ]
    },
    {
      "type": "color",
      "id": "jubilee_underline_color",
      "label": "Underline color",
      "default": "#FFB005"
    },
    {
      "type": "richtext",
      "id": "jubilee_description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "jubilee_heading_size",
      "label": "Heading size",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "Heading 1" },
        { "value": "h2", "label": "Heading 2" },
        { "value": "h3", "label": "Heading 3" },
        { "value": "h4", "label": "Heading 4" }
      ]
    },
    {
      "type": "select",
      "id": "jubilee_alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "select",
      "id": "jubilee_video_ratio",
      "label": "Video ratio",
      "options": [
        { "value": "adapt_first", "label": "Adapt to first video" },
        { "value": "16_9", "label": "16:9" },
        { "value": "4_3", "label": "4:3" },
        { "value": "1_1", "label": "1:1" }
      ],
      "default": "adapt_first"
    },
    {
      "type": "checkbox",
      "id": "jubilee_video_autoplay",
      "label": "Video auto play",
      "default": true,
      "info": "Video will autoplay when this block is active or visible on screen."
    },
    {
      "type": "select",
      "id": "jubilee_enable_video_sticky",
      "label": "Enable video sticky",
      "options": [
        { "value": "desktop_only", "label": "Desktop only" },
        { "value": "mobile_only", "label": "Mobile only" },
        { "value": "all", "label": "All devices" },
        { "value": "none", "label": "None" }
      ],
      "default": "desktop_only"
    },

    {
      "type": "header",
      "content": "Carousel settings"
    },
    {
      "type": "range",
      "id": "jubilee_items_row_desktop",
      "label": "Items per row on desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "jubilee_column_gap",
      "label": "Column gap",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "jubilee_show_navigation",
      "label": "Show navigation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "jubilee_show_pagination",
      "label": "Show pagination",
      "default": false,
      "info": "Pagination will automatically show on mobile if you display the number of items on mobile as 1 or 2."
    },
    {
      "type": "checkbox",
      "id": "jubilee_auto_change_slide",
      "label": "Auto-change slide",
      "default": false
    },
    {
      "type": "range",
      "id": "jubilee_change_slides",
      "label": "Change slides every",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "s",
      "default": 10
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "range",
      "id": "jubilee_row_mobile",
      "label": "Items per row on mobile",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "Shopable video",
      "blocks": [
        {
          "type": "_jubilee-video-item"
        },
        {
          "type": "_jubilee-video-item"
        },
        {
          "type": "_jubilee-video-item"
        }
      ]
    }
  ]
}
{% endschema %}
